.edit-container {
    background-image: url('./assets/stars.jpg'); 
  background-size: cover;      
  background-repeat: no-repeat;
  background-position: center;
  
            
  
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin : 70px auto ;
    background-color: #ffffff00;
    border: 2px solid hsl(204, 3%, 33%);
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(252, 252, 252);
    height: 100%;
    margin-bottom: 5px ;
    color: aliceblue;
    padding : 8px;
    padding-bottom: 30px;
    position: relative;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 90%;
    padding: 10px;
    margin : auto auto ;
    color : white;
    background-color: #0000005d;
    border: 0.4px solid hsl(204, 3%, 33%);
    border-radius: 5px;
    
}
.input{
    width: 100%;
    height: 30px;
    margin: 5px 0;
    border: 1px solid hsl(204, 3%, 33%);
    border-radius: 5px;
}

.amount,.daate{
    align-items: center;
    width: 50%;}

.submit{
    width: 100%;
    height: 35px;
    margin-top: 10px;
    background-color: hsl(204, 3%, 33%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit:hover{
    background-color: red;
}

@media (max-width: 600px) {
    .edit-container {
        width: 80%;
       
    }
    .amount,.daate{
        width: 100%;
    }
    .fullc{
        background-image: url('./assets/bckgr.png');
  background-size: contain;
  background-repeat: repeat;
  background-position: top;
  min-height: 90vh;
  margin: 0%;
  width: 100%;
  height: auto;        
  position: relative;
  z-index: 0; 
    }

}