.fullcontain{
    background-image: url('./assets/bckgr.png'); 
    background-size: cover;      
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;  
}
.expenses{
    color:aliceblue;
    background-color: transparent;
}