.fullcontain {
  background-image: url('./assets/bckgr.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  height: auto;          /* allow growth */
  position: relative;
  z-index: 0;            /* make sure it’s behind */
}
.expensecontainer {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin : 20px auto ;
    background: transparent;
    border: 2px solid hsl(204, 3%, 33%);
    border-radius: 5px;
    margin-bottom: 5px ;
    color: #ffffff;
    padding : 8px;
    padding-bottom: 35px;
    position: relative;
}




.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    
    background: transparent;
    border: 2px solid hsl(204, 3%, 33%);
    border-radius: 5px;
    
    padding : 8px;
    padding-bottom: 15px;
    position: relative;
   
}


.month{
    font-size: 2em;
    padding: 8px;
    
    width: 85%;
    justify-self: left;
}

.year{
    font-size: 25px;
    padding: 8px;
    width: 5%;
    justify-self: right;
}

.amount{
    justify-items: right;
}
.expenses {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height : 2rem;
    color: #ffffff;
    background-color: transparent;
    border : rgb(189, 189, 189) solid 1px;
    padding: 10px;
    margin: 1px;
    
    border-radius: 5px;
}
.expensename {
    font-size: 1 rem;
    margin : 6px;
    width : 70%;
    height: 1rem ;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.yearmonth {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;
    width: 95%;
    padding: 5px;
    margin: 5px;
}

.details{
    width: 95%;
    padding: 9px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.budjet, .savings, .spend {
    font-size: 1.2rem;
    margin: none;
}
.budjet {
    justify-self: left;
}

.spend{
    justify-self: right;
}
.savings {
    justify-self: center;
}

.green{
    color: rgb(128, 243, 128);
}
.red{
    color: red;
}


@media (max-width: 600px) {
   

    .details{
        width: 100%;
        padding: 5px;
        display: flex;
        flex-direction:column;
        
        justify-items: left;
    }
    .budjet, .savings, .spend {
        justify-content: left;
    }
    .date{
        display: none;
    }
  
}