:root{
    --headheight: 50px;
}

.header{
    width: 100%;
    position: fixed;
    background-color: aqua;
    margin: 0px;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    align-items: center;
    display: flex;
    height : var(--headheight);
    z-index: 1000;
}

.search{
    margin :auto;
    height : 100%;
    width: 100%;
    max-width: 400px;
}

.searchbar{
    width: 100%;
    height: 30px;
    border-radius: 5px 0px 0px 5px ;
    border: none;
    padding-left: 10px;
}

.searchicon{
    stroke-width: 1px;
    stroke: black;
    fill: none;
    width: calc(var(--headheight)/2);
}
.searchbtn{
    height: 30px;
    border-left: #000000 solid 1px;
    width: auto;
    padding: 1px 5px;
    border-radius: 0  0 ;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}
.searsubmit{
    height: 30px;
    border-left: #000000 solid 1px;
    width: auto;
    padding: 1px 5px;
    border-radius: 0 5px 5px 0 ;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.searchform{
    display: flex;
    align-items: center;
    height: 100%;
    
}

.logo{
    max-width: 50px;
    min-width: 50px;
    padding: 2px;
    background-color: transparent;
    border: none;
    cursor : pointer;
}
.logoo{
    height: 100%;
    width: 100%;
}

.space{
    height: var(--headheight);
    width: 100%;
}

.menu{
    margin: 3px;
    padding: 10px;
}

.options{
    padding: 5px;
    color: #000000;
    text-decoration: none;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: aqua;
    transition: all 0.2s ease-in-out;
}

.options:hover{
    scale: 1.1;
    background-color: rgb(61, 218, 218);
}

select {
 
  margin: 2px;
  padding: 5px;
  border-radius: px;
  border: 1px solid #474747;
  background-color: #f0f8ff;
  font-size: 16px;
  color: #333;
}
select:focus {
  outline: none;
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

@media screen and (max-width: 600px) {
    .options {
        display: none;
    }
    .Name{
        display: none;
    }
    .searchbar{
        width: 80%;
        margin-left: 5px;
    }
}   